.pageinput{
    margin: 10px;
}
input{
    padding: 6px;
}
button{
    padding: 6px;
}


.sidebar{
    background-color: #404040;
    position: absolute;
    padding: 20px;
    width: auto;
    height: 100vh;
}
.signIn{
    width: 250px;
    text-align: center;
    color: #2196F3;
    padding: 3px 0 3px 0;
    border: solid rgb(128, 128, 128) 2px;
    margin-bottom: 10px;
}
.modes{
    text-align: center;
    display: flex;
    align-content: space-around;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
.Dark{
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 8px 0 0 8px ;
    padding: 3px 0 3px 0;
}
.Light{
    width: 50%;
    background-color: azure;
    border-radius: 0 8px 8px 0;
    padding: 3px 0 3px 0;
}
.favhead{
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.pagehead{
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    
}
.PageItems{
    color: black;
    background-color: whitesmoke;
    margin: 5px;
    padding: 0 0 0 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
}
.deleteBTN{
    float: right;
    background-color: rgb(248, 60, 60);
    padding: 6px;
    border-radius: 0 8px 8px 0;
}
hr{
    margin: 12px 0 12px 0;
}

.addBTN{
    text-align: center;
    color: rgb(187, 187, 187);
    border: solid rgb(187, 187, 187);
    padding: 3px 0 3px 0;
    cursor: pointer;
}